li {
  display: inline;
  list-style: none;
  margin-right: 15px;
}

ul.currentDetails {
  padding: 0px;
}

.tempdesc h4 {
  font-size: 40px;
}

form ::placeholder {
  color: white;
}

.currentWeather {
  max-width: 640px;
}

.Weather {
  margin: 10% 25% auto;
  color: white;
}

.Weather h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin-bottom: 0px;
}

.Weather h3 {
  font-size: 16px;
  font-weight: 300;
}

.cityInput {
  background: rgb(226, 228, 255, 0.2);
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  margin-right: 15px;
  width: 300px;
  color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.cityInput:focus {
  outline:none;
  border: 1px solid white;
}

.searchBtn {
  color: #8d88d9;
  background: white;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  width: 150px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: all ease-in-out 3ms;
}

.searchBtn:hover{
  color: white;
  background:#8d88d9 ;
  border: 1px solid white;
}

.currentWeather {
  background: rgb(226, 228, 255, 0.2);
  border-radius: 20px;
  border: none;
  padding: 30px 40px 30px 40px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.currentTemp {
  font-size: 50px;
  font-weight: 700;
}

.currentDetails {
  font-size: 14px;
  color: white;
  opacity: 50%;
}

.tempdesc {
  line-height: 1.4;
}

.canvas {
  position: relative;
  top: 35px;
}

.units {
  font-size: 12px;
  position: relative;
  top: -28px;
  margin-left: 5px;
}

.currentTemp a {
  color: #5061fe6f;}
 

@media (max-width: 960px) {
  li {
    font-size: 12px;
  }

  h1,
  h3 {
    text-align: center;
  }

.Weather h1 {
  font-size: 28px;
  margin-bottom: 0px;
}

.Weather h3 {
  font-size: 14px;
 
}

.currentTemp {
  font-size: 40px;
  font-weight: 700;
}

  .searchBtn {
    margin-top: 10px;
    width: 100%;
  }
  .cityInput {
    width: 100%;
    text-align: center;
  }
  .cityInput::placeholder {
    text-align: center;
  }
  .Weather {
    margin: 10% 50px auto;
  }

  .tempdesc h4 {
    text-align: left;
    font-size: 20px;
    margin-bottom: 3px;
  }

.currentDesc{
  font-size: 14px;
  font-weight: lighter;
}

  .Weather {
    margin: 10% 3%;
    color: white;
  }

  .units {
  font-size: 12px;
  position: relative;
  top: -20px;
  margin-left: 5px;
}

.canvas {
  position: relative;
  top: -10px;
}

}
